{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Email - HouseIX Ops{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Change Email Address</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Update Email</button>
                    <a href="{% url 'account_settings' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
